@page
@model Shop.UI.Pages.Admin.IndexModel
@{
}
<div id="app" class="container">
    <product-manager v-if="menu === 0"></product-manager>
    <p v-else-if="menu === 1">Orders</p>
    <p v-else-if="menu === 2">Stock</p>
</div>
@section scripts{


    <script src="~/js/admin/product-manager.js"></script>
    <script src="~/js/admin/main.js"></script>


}


