@page
@model Shop.UI.Pages.Admin.StockModel
@{
}

<div id="app" class="container">
    <stock-manager></stock-manager>

</div>


@section scripts{
    <script src="~/js/admin/stock-manager.js"></script>
    <script src="~/js/admin/main.js"></script>
}


