@page
@model Shop.UI.Pages.ComplaintsModel
@{
    ViewData["Title"] = "Complaints";
}


<div class="row"></div>
<div class="row rulesarea">
    <div class="col-md-12">
        <center><h2><strong>Jak złożyć reklamację?</strong></h2></center><br />
                                                                         <div class="std">
                                                                             <p><strong><span>Drogi Kliencie!</span></strong></p>
                                                                             <p><span>Jeżeli składałeś reklamację w jednym z naszych salonów stacjonarnych w terminie&nbsp;<strong>15-12-2020 – 28-12-2020</strong>, prosimy o kontakt z Biurem Obsługi Klienta.</span><br><span>Nasz zespół umożliwi Ci odbiór środków z tytułu uznanej reklamacji (przelewem elektronicznym).</span></p>
                                                                             <p><span>Wypełnij formularz kontaktowy zgodnie z instrukcją:</span></p>
                                                                             <ul>
                                                                                 <li><span>W polu dział wybierz: Sklepy stacjonarne – Obsługa Klienta.</span></li>
                                                                                 <li><span>W polu temat zaznacz: Zwroty lub reklamacje.</span></li>
                                                                                 <li><span>W treści wiadomości podaj numer reklamacji.</span></li>
                                                                             </ul>
                                                                             <p style="text-align: justify;">Zamówione produkty możesz reklamować przez okres 2 lat od daty ich odbioru.</p>
                                                                             <h3 style="text-align: justify;">Reklamacja towaru poprzez odesłanie do sklepu online</h3>
                                                                             <p style="text-align: justify;">Wypełnij formularz reklamacyjny, który znajdziesz po rozwinięciu szczegółów danego zamówienia pod przyciskiem „reklamacja”.</p>
                                                                             <p style="text-align: justify;">Zapakuj produkty i dołącz fakturę (znajdziesz ją w panelu klienta, wchodząc w szczegóły zamówienia) oraz dokładny opis wady. Zamiast faktury możesz także dołączyć kartkę z ręcznie zapisanym numerem zamówienia.</p>
                                                                             <p style="text-align: justify;"><span style="text-decoration: underline;"><strong>Przesyłkę opłaconą z góry</strong></span> (na własny koszt) odeślij na poniższy adres:</p>
                                                                             <p style="text-align: justify;">LPP S.A. <br>E-sklep Housebrand.com<br>ul. Jabłoniowa 46A<br>80-175 Gdańsk</p>
                                                                             <p style="text-align: justify;"><span style="font-size: medium;"><strong>Ważne!</strong></span> Zachowaj potwierdzenie nadania przesyłki aż do momentu rozliczenia Twojej reklamacji. Dokument ten potwierdza, że paczka została do nas wysłana.</p>
                                                                             <p style="text-align: justify;">Klientom składającym reklamację umożliwiamy odesłanie wadliwego towaru kurierem na nasz koszt. W tym celu wymagane jest wypełnienie elektronicznego formularza reklamacji (dostępnego w Koncie Klienta) oraz wysłanie za pośrednictwem formularza kontaktowego (https://www.housebrand.com/pl/pl/contacts/) informacji o wypełnieniu formularza reklamacji wraz z danymi adresowymi, skąd kurier powinien odebrać przesyłkę z reklamowanymi produktami.</p>
                                                                             <h3 style="text-align: justify;">Reklamacja towaru w sklepie stacjonarnym</h3>
                                                                             <p style="text-align: justify;">Masz w pobliżu salon stacjonarny House? Tam również możesz złożyć reklamację. Zabierz ze sobą produkty oraz fakturę – wydrukowaną lub w formie elektronicznej (np. na telefonie).</p>
                                                                             <p style="text-align: justify;">To wszystko, nie musisz niczego wypełniać na naszej stronie. Formularz reklamacyjny wypełni z Tobą obsługa salonu.</p>
                                                                             <p>Jeżeli potrzebujesz wskazówek jak pobrać fakturę z konta klienta, przeczytaj poniższą instrukcję:</p>
                                                                             <ol>
                                                                                 <li>Wejdź na stronę House i wybierz zakładkę&nbsp;<strong>MOJE</strong><strong>&nbsp;KONTO</strong>.</li>
                                                                                 <li>Zaloguj się do konta i wybierz zakładkę&nbsp;<strong>MOJE ZAMÓWIENIA</strong>.</li>
                                                                                 <li>Przy wybranym zamówieniu rozwiń&nbsp;<strong>SZCZEGÓŁY</strong>.</li>
                                                                                 <li>Kliknij przycisk&nbsp;<strong>CHCĘ OTRZYMAĆ FAKTURĘ VAT</strong>.</li>
                                                                                 <li>W wyświetlonym oknie kliknij&nbsp;<strong>DOWNLOAD</strong>&nbsp;i pobierz fakturę.</li>
                                                                             </ol>
                                                                         </div>
    </div>
</div>
<br />