@page
@model Shop.UI.Pages.CookiesModel
@{
    ViewData["Title"] = "Cookies";
}

<div class="row"></div>
<div class="row rulesarea">
    <div class="col-md-12">
        <center><h2><strong>Polityka cookies</strong></h2></center><br />
                                                                   <div class="std">
                                                                       <p style="text-align: justify;">W celu zapewnienia wygody oraz jak najlepszej jakości obsługi korzystamy z funkcjonalności nazywanej „cookies”. Poniżej znajdziesz szczegółowe informacje na temat tej technologii.</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 style="text-align: justify;">Czym są pliki cookies?</h2>
                                                                       <p style="text-align: justify;">Cookies to małe pliki tekstowe wysyłane przez serwer bądź aplikację sklepu internetowego, zapisywane na urządzeniu końcowym Klienta (np. komputer, smartfon). Przechowuje się w nich informacje, których potrzebuje sklep do prawidłowego działania usługi jak np. zapewnienie bezpieczeństwa zakupów, dostosowywanie sklepu do preferencji Klienta, dane analityczne czy marketingowe. Pliki cookies w zależności od typu są usuwane po zamknięciu przeglądarki (pliki sesyjne) lub są zapamiętywane w urządzeniu przez określony czas. Więcej informacji na temat ustawień znajdziesz w sekcji&nbsp;<a href="#types-of-cookies">Rodzaje plików cookies</a>.</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 style="text-align: justify;">Z jakich technologii nazywanych cookies korzystamy?</h2>
                                                                       <p style="text-align: justify;">W Sklepie Internetowym korzystamy z technologii przechowujących dane na urządzeniu końcowym w celach analitycznych, marketingowych oraz zapewnienia poprawnego działania Sklepu. Sklep może również korzystać z funkcjonalności zbliżonej do cookies (na przykład local storage), dlatego przedstawione tutaj informacje odnoszą się również do tych technologii.</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 style="text-align: justify;">Kogo dotyczy technologia nazywana cookies?</h2>
                                                                       <p style="text-align: justify;">Technologia cookies (lub funkcjonalność zbliżona w działaniu do cookies) wykorzystywana jest za każdym razem kiedy użytkownik, nazywany dalej&nbsp;<strong>Klientem</strong>, korzysta z naszych usług za pomocą Aplikacji lub Sklepu Internetowego nazywanych dalej&nbsp;<strong>Sklepem</strong>. Pliki te są przechowywane w urządzeniu Klienta w sposób uzależniony od preferencji i ustawień urządzenia, np. ustawień przeglądarki internetowej. Więcej informacji na temat ustawień cookies w najpopularniejszych przeglądarkach znajdziesz&nbsp;<a title="Cookies settings" href="cookies-settings">tutaj</a>.</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 style="text-align: justify;">Czy&nbsp;pliki cookies przechowują dane osobowe?</h2>
                                                                       <p style="text-align: justify;">W plikach cookies przechowywane są informacje różnego typu, jednak co do zasady nie zawierają danych osobowych i nie pozwalają na identyfikację Klienta. Jednak niektóre informacje w powiązaniu z danymi podanymi w Sklepie przy rejestracji mogą się stać danymi osobowymi. W przypadku informacji zbieranych przez cookies mogących zostać powiązanych z konkretną osobą zastosowanie znajdują postanowienia&nbsp;<a title="Privacy policy" href="privacy-policy">Polityki prywatności</a>&nbsp;odnoszące się do Danych Osobowych, w szczególności praw osoby, której dane te dotyczą. Lista zaufanych partnerów, którzy mają dostęp do plików cookies lub którzy sami umieszczają je w naszym imieniu znajdziesz na stronie&nbsp;<a title="Trusted partners" href="trusted-partners">Lista zaufanych partnerów</a>.</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 style="text-align: justify;">W jakim celu korzystamy z plików cookies?</h2>
                                                                       <p style="text-align: justify;">Korzystanie z cookies jest niezbędne do poprawnego działania Sklepu, np. takich funkcjonalności jak logowanie, przechowywanie koszyka, obsługa płatności elektronicznej czy składanie zamówienia. Korzystamy również z tej technologii w celu zbierania informacji analitycznych oraz marketingowych. Pliki cookies pomagają nam np. w przygotowaniu ofert specjalnych. Szczegółowe informacje dotyczące celu zapisywania poszczególnych cookied znajdziesz na stronie&nbsp;<a href="https://www.housebrand.com/pl/pl/cookies-list">Lista cookies.</a></p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 id="types-of-cookies" style="text-align: justify;">Rodzaje plików cookies</h2>
                                                                       <p style="text-align: justify;">Cookies można podzielić na kilka sposobów. Najczęściej używane kryteria pozwalają na podział ze względu na:</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h3 style="text-align: justify;">Czas życia pliku cookie:</h3>
                                                                       <p style="text-align: justify;"><strong>Cookies sesyjne</strong>&nbsp;– pliki tego typu identyfikują użytkownika w czasie trwającej wizyty na stronie. Dzięki nim możliwe jest, na przykład, bezpieczne logowanie się do Sklepu oraz są niezbędne do obsługi procesu zakupowego. Cookies sesyjne są obsługiwane w pamięci ulotnej i nie są zapisywane w pamięci stałej (np. dysk twardy). Po zamknięciu Aplikacji lub przeglądarki internetowej cookies sesyjne zostają automatycznie usunięte.</p>
                                                                       <p style="text-align: justify;"><strong>Cookies stałe</strong>&nbsp;– pliki, które mają określony czas wygaśnięcia. Dzięki nim korzystanie z często odwiedzanych stron staje się bardziej przyjazne, na przykład, zapamiętanie wybranej lokalizacji i języka sklepu.</p>
                                                                       <p style="text-align: justify;"><br>Cel wykorzystania informacji przechowywanych w cookie:</p>
                                                                       <p style="text-align: justify;"><strong>Cookies niezbędne do działania usługi</strong>&nbsp;– najczęściej są to cookies sesyjne. Dzięki nim możliwe jest na przykład logowanie, obsługę koszyka czy finalizację procesu zakupowego.</p>
                                                                       <p style="text-align: justify;"><strong>Cookies analityczne i diagnostyczne</strong>&nbsp;– ten typ cookies umożliwia mierzenie ilości wizyt w Sklepie, zainteresowania określoną grupą produktową, popularności odwiedzanych stron bądź preferencje dotyczące prezentowanej treści. Dzięki nim możemy przygotować optymalną ofertę dla naszych Klientów oraz mierzyć jakość i wydajność Sklepu.</p>
                                                                       <p style="text-align: justify;"><strong>Cookies marketingowe</strong>&nbsp;– używane w celu zapewnienia wysokiej jakości treści reklamowych i dostosowania ich do preferencji użytkownika przez nas oraz przez naszych partnerów. Dzięki nim można zapobiegać ponownemu wyświetlaniu się tych samych promocji, produktów czy wydarzeń.</p>
                                                                       <p style="text-align: justify;">&nbsp;</p>
                                                                       <h2 style="text-align: justify;">Czy mogę zarządzać cookies w moim urządzeniu?</h2>
                                                                       <p style="text-align: justify;">Większość przeglądarek internetowch pozwala wyświetlać, usuwać i zarządzać ustawieniami cookies. Więcej informacji znajdziesz na stronie&nbsp;<a title="Cookies settings" href="cookies-settings">Ustawienia cookies</a>.</p>
                                                                   </div>
    </div>
</div>
<br />
