@page
@model Shop.UI.Pages.MyOrdersModel
@{
    ViewData["Title"] = "About1";
    Layout = "~/Pages/Shared/_AccountLayout.cshtml";
}

<h4><p style="text-align: left;">MOJE ZAMÓWIENIA</p></h4>
<br /><br />
<div class="row" style="text-align: left;">
    <div class="col-2">
        <h6>Data</h6>
    </div>
    <div class="col-2">
        <h6>Numer</h6>
    </div>
    <div class="col-3">
        <h6>Odbiorca</h6>
    </div>
    <div class="col-2">
        <h6>Wartość</h6>
    </div>
    <div class="col-2">
        <h6>Status</h6>
    </div>
</div>
<hr style="width: 100%;" />
<div class="row" style="text-align: left;">
    <div class="col-2">
        <h5>$data</h5>
    </div>
    <div class="col-2">
        <h5>$numer</h5>
    </div>
    <div class="col-3">
        <h5>$odbiorca</h5>
    </div>
    <div class="col-2">
        <h5>$wartość</h5>
    </div>
    <div class="col-2">
        <h5>$status</h5>
    </div>
</div>
<hr style="width: 100%;" />
<div class="row" style="text-align: left;">
    <div class="col-2">
        <h5>$data</h5>
    </div>
    <div class="col-2">
        <h5>$numer</h5>
    </div>
    <div class="col-3">
        <h5>$odbiorca</h5>
    </div>
    <div class="col-2">
        <h5>$wartość</h5>
    </div>
    <div class="col-2">
        <h5>$status</h5>
    </div>
</div>
<hr style="width: 100%;" />
