@page
@model ProductModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @{ 
        foreach (var p in Model.Products)
        {
            <a asp-page="Product" asp-route-name="@p.Name">
                @p.Name - @p.Description - @p.Price
            </a>
            <br />
        }

    }
</div>
