@page
@model Shop.UI.Pages.SizeTable_KidsModel
@{
    ViewData["Title"] = "SizeTableKids";
    Layout = "~/Pages/Shared/_SizeTableLayout.cshtml";
}

<div class="row sizetablepanel">
    <div class="col-md-3">
        <img src="~/images/SIZE_KIDS.jpg" style="width: 100%; padding-top: 50px;" />
    </div>
    <div class="col-md-9 py-5" style="text-align: left;">
        <h6>
            UBRANIA DZIECIĘCE
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title">WZROST</td>
                    <td>98/104</td>
                    <td>110/116</td>
                    <td>122/128</td>
                    <td>134/140</td>
                </tr>
                <tr>
                    <td>WIEK</td>
                    <td>2-4 LAT</td>
                    <td>4-6 LAT</td>
                    <td>6-8 LAT</td>
                    <td>8-10 LAT</td>
                </tr>
                <tr>
                    <td>OBWÓD KLATKI PIERSIOWEJ</td>
                    <td>56</td>
                    <td>60</td>
                    <td>65</td>
                    <td>71</td>
                </tr>
                <tr>
                    <td>OBWÓD PASA</td>
                    <td>53</td>
                    <td>55</td>
                    <td>58</td>
                    <td>61</td>
                </tr>
                <tr>
                    <td>OBWÓD BIODER</td>
                    <td>59</td>
                    <td>63</td>
                    <td>69</td>
                    <td>77</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />