@page
@model Shop.UI.Pages.SizeTable_ShoesModel
@{
    ViewData["Title"] = "SizeTableShoes";
    Layout = "~/Pages/Shared/_SizeTableLayout.cshtml";
}

<div class="row sizetablepanel">
    <div class="col-md-3">
        <img src="~/images/SHOES_SIZE.jpg" style="width: 100%; padding-top: 50px;" />
    </div>
    <div class="col-md-9 py-5" style="text-align: left;">
        <h6>
            OBUWIE DAMSKIE
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title">DŁUGOŚĆ WKŁADKI [CM]</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>CM</td>
                    <td>23,3</td>
                    <td>24</td>
                    <td>24,6</td>
                    <td>25,3</td>
                    <td>26</td>
                    <td>26,6</td>
                </tr>
                <tr>
                    <td>CAL</td>
                    <td>9,1</td>
                    <td>9,4</td>
                    <td>9,6</td>
                    <td>9,9</td>
                    <td>10,2</td>
                    <td>10,4</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h6>
            OBUWIE MĘSKIE
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title">DŁUGOŚĆ WKŁADKI [CM]</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td>CM</td>
                    <td>26,3</td>
                    <td>27,3</td>
                    <td>28</td>
                    <td>28,6</td>
                    <td>29,3</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>CAL</td>
                    <td>10,4</td>
                    <td>10,7</td>
                    <td>11</td>
                    <td>11,2</td>
                    <td>11,5</td>
                    <td>11,8</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h6>
            KAPCIE DAMSKIE
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title">DŁUGOŚĆ WKŁADKI [CM]</td>
                    <td>24,5</td>
                    <td>26,5</td>
                    <td>28,5</td>
                </tr>
                <tr>
                    <td>ROZMIAR</td>
                    <td>S - 26/37</td>
                    <td>M - 38/39</td>
                    <td>L - 40/41</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h6>
            KAPCIE MĘSKIE
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title">DŁUGOŚĆ WKŁADKI [CM]</td>
                    <td>26,5</td>
                    <td>29,5</td>
                </tr>
                <tr>
                    <td>ROZMIAR</td>
                    <td>S - 41</td>
                    <td>L - 45</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />