@page
@model Shop.UI.Pages.SizeTable_MenModel
@{
    ViewData["Title"] = "SizeTableMen";
    Layout = "~/Pages/Shared/_SizeTableLayout.cshtml";
}

<div class="row sizetablepanel">
    <div class="col-md-3">
        <img src="~/images/MEN_SIZE.jpg" style="width: 100%; padding-top: 50px;" />
    </div>
    <div class="col-md-9 py-5" style="text-align: left;">
        <h6>
            BLUZY, SWETRY, KOSZULE, KURTKI, PŁASZCZE, BEZRĘKAWNIKI, MARYNARKI, T-SHIRTY, POLÓWKI, LONGSLEEVE’Y
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title">ROZMIAR</td>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>XXL</td>
                </tr>
                <tr>
                    <td>OBWÓD KLATKI PIERSIOWEJ</td>
                    <td>90-96</td>
                    <td>96-102</td>
                    <td>102-108</td>
                    <td>108-114</td>
                    <td>114-120</td>
                </tr>
                <tr>
                    <td>OBWÓD W PASIE</td>
                    <td>76-82</td>
                    <td>82-88</td>
                    <td>88-94</td>
                    <td>94-100</td>
                    <td>100-106</td>
                </tr>
                <tr>
                    <td>OBWÓD KOŁNIERZYKA</td>
                    <td>37</td>
                    <td>39</td>
                    <td>41</td>
                    <td>43</td>
                    <td>45</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h6>
            SPODNIE, SZORTY, BOKSERKI, BIELIZNA
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title-large" colspan="2">ROZMIAR</td>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>XXL</td>
                </tr>
                <tr>
                    <td colspan="2">OBWÓD W PASIE</td>
                    <td>78-83</td>
                    <td>83-88</td>
                    <td>88-93</td>
                    <td>93-98</td>
                    <td>98-103</td>
                </tr>
                <tr>
                    <td colspan="2">OBWÓD W BIODRACH</td>
                    <td>94-99</td>
                    <td>99-104</td>
                    <td>104-109</td>
                    <td>109-114</td>
                    <td>114-119</td>
                </tr>
                <tr>
                    <td rowspan="2">WEWNĘTRZNA DŁUGOŚĆ NOGAWKI TYP - STANDARD</td>
                    <td class="title">STANDARD</td>
                    <td colspan="5">80</td>
                </tr>
                <tr>
                    <td class="title">LONG</td>
                    <td colspan="5">85</td>
                </tr>
                <tr>
                    <td rowspan="2">WEWNĘTRZNA DŁUGOŚĆ NOGAWKI TYP - JOGGER</td>
                    <td class="title">STANDARD</td>
                    <td colspan="5">73-76</td>
                </tr>
                <tr>
                    <td class="title">LONG</td>
                    <td colspan="5">78-81</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h6>
            SPODNIE JEANSOWE, JOGGERY
        </h6>
        <hr style="color: red; width: 100%;" />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td class="column-title-small">ROZMIAR</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                    <td>34</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>PAS</td>
                    <td>76-79</td>
                    <td>79-82</td>
                    <td>82-85</td>
                    <td>85-88</td>
                    <td>88-91</td>
                    <td>91-94</td>
                    <td>94-97</td>
                    <td>100-103</td>
                </tr>
                <tr>
                    <td>BIODRA</td>
                    <td>92-95</td>
                    <td>95-98</td>
                    <td>98-101</td>
                    <td>101-104</td>
                    <td>104-107</td>
                    <td>107-110</td>
                    <td>110-113</td>
                    <td>116-119</td>
                </tr>
            </tbody>
        </table>
        <br />
        <table class="sizetable">
            <tbody>
                <tr class="mainrow">
                    <td>DŁUGOŚĆ NOGAWKI [CM]</td>
                    <td>30</td>
                    <td>32</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td><span>WEWNĘTRZNA DŁUGOŚĆ NOGAWKI TYP - STANDARD</span></td>
                    <td>75</td>
                    <td>80</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>WEWNĘTRZNA DŁUGOŚĆ NOGAWKI TYP - JOGGER</td>
                    <td><span>68-71</span></td>
                    <td>73-76</td>
                    <td>78-8</td>
                </tr>
                <tr>
                    <td><span>WEWNĘTRZNA DŁUGOŚĆ NOGAWKI TYP - CARROT</span></td>
                    <td>69,5</td>
                    <td>72</td>
                    <td>74,5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />