@page
@model Shop.UI.Pages.TrustedPartnersModel
@{
    ViewData["Title"] = "TrustedPartners";
}


<div class="row"></div>
<div class="row rulesarea">
    <div class="col-md-12">
        <center><h2><strong>Zaufani partnerzy</strong></h2></center><br />
                                                                   <div class="std">
                                                                       <h1>&nbsp;</h1>
                                                                       <table border="0">
                                                                           <tbody>
                                                                               <tr>
                                                                                   <td><strong>Partner</strong></td>
                                                                                   <td>
                                                                                       <p><strong>link</strong></p>
                                                                                   </td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td>&nbsp;</td>
                                                                                   <td>&nbsp;</td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>All4Affiliate Sp. z o.o.</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="http://all4affiliate.pl/polityka-prywatnosci/" rel="nofollow">http://all4affiliate.pl/polityka-prywatnosci/</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>Criteo</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://www.criteo.com/privacy/corporate-privacy-policy/" rel="nofollow">https://www.criteo.com/privacy/corporate-privacy-policy/</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>Facebook</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://pl-pl.facebook.com/privacy/explanation" rel="nofollow">https://pl-pl.facebook.com/privacy/explanation</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>Google</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://policies.google.com/privacy?hl=pl-PL" rel="nofollow">https://policies.google.com/privacy?hl=pl-PL</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>La Moda Ventures sp. z o.o.&nbsp;</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://lamoda.pl/pages/polityka_prywatnosci" rel="nofollow">https://lamoda.pl/pages/polityka_prywatnosci</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>RTB House SA</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://www.rtbhouse.com/privacy-center/website-privacy-policy/" rel="nofollow">https://www.rtbhouse.com/privacy-center/website-privacy-policy/</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>Synerise S.A.</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://synerise.com/resources/privacy-policy" rel="nofollow">https://synerise.com/resources/privacy-policy</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>Tradedoubler AB</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://www.tradedoubler.com/pl/privacy-policy/" rel="nofollow">https://www.tradedoubler.com/pl/privacy-policy/</a></td>
                                                                               </tr>
                                                                               <tr>
                                                                                   <td><span>Wirtualna Polska</span></td>
                                                                                   <td><a class="external-link" title="Follow link" href="https://onas.wp.pl/poufnosc.html" rel="nofollow">https://onas.wp.pl/poufnosc.html</a></td>
                                                                               </tr>
                                                                           </tbody>
                                                                       </table>
                                                                       <p><span><br></span></p>
                                                                   </div>
    </div>
</div>
<br />